<div class="w-screen h-screen page-container grid place-items-center">
  <div class="greeting-container grid place-items-center">
    <img class="max-w-xs rounded-full border-solid border-8 border-white" src="/assets/photo_2022-02-06_18-40-13.jpg" alt="Sunset in the mountains">
    <div class="text-center text-white">
      <p class="font-bold text-5xl m-4">👋 Hi, I am Altynsai Alchikova 👋</p>
      <p class="uppercase text-2xl mt-16">I <span class="animate-pulse">❤</span> Tailwind CSS</p>
      <p class="lowercase text-1xl mt-16">Dreamfullstacker@gmail.com</p>
    </div>
  </div>
</div>
